@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var list = (List<Model.EF.Order>)ViewBag.ListHistory;

}
@section jsFooter {
    <script src="/assets/client/js/cartController.js"></script>
}

<div class="login">
    <div class="wrap">
        <div class="mens-toolbar">
            <div class="sort" style="width:auto">
                <div class="sort-by">
                    <label style="margin-bottom:0;font-size:21px;font-weight:600">MY CART</span></label>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="box1" style="margin:35px 0;max-width:960px;">

            <div class="section group">
                @if (Model.Count > 0)
                {
                    <table class="table">
                        <thread>
                            <tr style="font-weight:bold">
                                <td>Name</td>
                                <td>Image</td>
                                <td>Quantity</td>
                                <td style="text-align:center">Unit Price</td>
                                <td style="text-align:center">Total Price</td>
                                <td>Action</td>
                            </tr>
                        </thread>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Product.Name</td>
                                    <td><img src="@item.Product.Image" width="100" /></td>
                                    <td><input style="max-width:50px; text-align:center" type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" /></td>
                                    <td style="text-align:center">@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                                    <td style="text-align:center">@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                                    <td><a href="#" data-id="@item.Product.ID" class="btn btn-delete btn-danger ">Xóa</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="" style="margin:35px auto">
                        <button id="btnContinue" class="btn btn-secondary">Tiếp tục mua hàng</button>
                        <button id="btnUpdate" class="btn btn-primary">Cập nhật giỏ hàng</button>
                        <button id="btnPayment" class="btn btn-success">Thanh toán</button>
                        <button id="btnDeleteAll" class="btn btn-danger">Xóa giỏ hàng</button>
                    </div>
                }
                else
                {
                    <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
                }
            </div>
            <div class="" style="margin:35px auto">
                <a id="" class="btn btn-primary" href="/history">History</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>



