@model List<Model.EF.Content>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var listNewContents = (Model.EF.Content)ViewBag.NewContents;
    var listNewContents = (List<Model.EF.Content>)ViewBag.NewContents;
}


<div class="login">
    <div class="wrap">
        <div class="rsidebar span_1_of_left">
            <section class="sky-form">
                <h4 style="margin-bottom: 25px">Hot news</h4>
                <div class="new row" style="margin:0">
                    @foreach (var item in listNewContents)
                    {
                        var url = "/blog-detail/" + item.MetaTitle + "-" + item.ID;
                        <div class="new-item" style="margin-bottom: 5px">
                            <a href="@url">
                                <div class="view1 view-fifth1" style="position:relative">
                                    <div class="grid_img">
                                        <div class="css3"><img src="@item.Image" alt="" /></div>
                                    </div>
                                    <div class="top_box" style="position:absolute; bottom:0;padding:0 5px">
                                        <h3 class="m_1" style="color: white; text-shadow: 1px 1px 3px rgb(0 0 0 / 50%)">@item.Name</h3>
                                        <p class="m_2" style="color: white;margin-bottom:5px; text-shadow: 1px 1px 3px rgb(0 0 0 / 50%)">@item.CreatedDate</p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </a>
                        </div>
                    }

                </div>


            </section>
        </div>
        <div class="cont span_2_of_3">
            <div class="mens-toolbar">
                <div class="sort" style="width:auto">
                    <div class="sort-by">
                        <label style="margin-bottom:0;font-size:21px;font-weight:600">
                            Kiến thức thời trang
                        </label>
                    </div>
                </div>
                <div class="pager">
                    @if (ViewBag.TotalPage >= 1)
                    {
                        var pageDisplay = (int)(ViewBag.MaxPage);
                        int totalPage = (int)ViewBag.TotalPage;
                        int currentPage = (int)ViewBag.Page;


                        var startPage = Math.Max(1, (currentPage - pageDisplay) / 2);
                        var endPage = Math.Min(totalPage, (currentPage + pageDisplay) / 2);

                        var url = "";

                        <ul class="dc_pagination dc_paginationA dc_paginationA06">

                            @if (currentPage > ViewBag.First)
                            {
                                <li><a href="@url?page=@ViewBag.Prev" class="previous">Previous</a></li>
                            }
                            @for (int i = startPage; i <= endPage; i++)
                            {
                                if (currentPage == i)
                                {
                                    <li><a href="@url?page=@i" class="active">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="@url?page=@i">@i</a></li>
                                }
                            }
                            @if (currentPage < totalPage)
                            {
                                <li><a href="@url?page=@ViewBag.Next" class="next">Next</a></li>
                            }

                        </ul>
                        <div class="clear"></div>

                    }
                    else
                    {
                        <div class="limiter visible-desktop">
                            <label style="font-size:18px;color:red">Not record</label>
                        </div>
                    }
                </div>
                <div class="clear"></div>
            </div>

            <div class="box1" style="display:flex; flex-wrap:wrap">
                @foreach (var item in Model)
                {
                    var url = "/blog-detail/" + item.MetaTitle + "-" + item.ID;
                    <div class="item" style="width:33%">
                        <a href="@url">
                            <div class="view view-fifth">
                                <div class="top_box">
                                    <h3 class="m_1">@item.Name</h3>
                                    <p class="m_2">@item.CreatedDate</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="@item.Image" alt="" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </div>
                }
                <div class="clear"></div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
</div>

