@model PagedList.IPagedList<Model.EF.Product>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>List Product</h2>

<div class="container-fluid">

    <div class="row">
        <div class="col col-md-12">

                <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2" name="searchString">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <hr />

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Product</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td>@item.CategoryID</td>
                                <td>@item.Description</td>
                                <td>@item.Price</td>
                                <td>@item.Quantity</td>
                                <td>
                                    <a href="/Admin/Product/Edit?id=@item.ID" class="btn btn-warning">Edit</a>
                                    <a href="#" onclick="if (confirm('Are you sure you want to delete item?') == true) { location.href='/Admin/Product/Delete?id=@item.ID'}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->